[2014-01-06 13:27] sswierczyna opened #1 "Does not work with Glassfish 4.0"
I'm trying use extension and deploy test on Glassfish 4.0
I've just build and add this extension to my pom

[code]

And wrote simple test:

[code]

I do not see any information about deploy in glassfish logs.
Seems that deploy does not occur.

BTW. Nice to work with You again :)

[2014-01-06 14:18] #1 closed, assigned to nobody

[2014-02-02 11:37] sswierczyna opened #3 "Typo in @ArquilianSuiteDeployment"
You have a typo in @ArquilianSuiteDeployment (missing second "l" in arquillian word)

[2014-02-04 12:16] #3 closed, assigned to nobody

[2014-02-09 09:01] jflefebvre06 opened #4 "Jdk6"
Hi,
Coule you please provide a jdk 1.6 version?

Tanks à lot

[2014-02-10 08:39] #4 closed, assigned to nobody

[2014-02-26 19:46] johnament opened #5 "Doesn't take order into account"
If I have multiple deployments, and specify order, the @Deployment(order=) is not taken into account.

[2014-03-30 15:56] kraanerk opened #6 "Doesn't work with arquillian-jacoco"
If one wants to gather test code coverage with arquillian-jacoco then arquillian-suite-extension can't be used. Their co-existence results in a StackOverflowError.

[2014-05-07 10:35] #5 closed, assigned to ingwarsw

[2014-07-02 22:13] huangdihu opened #9 "An existing connection was forcibly closed by the remote host"
I tried Arquillian Suite Extension, and when it came to deployment, it reported the following error in console.
2014-07-02 13:25:36,532 [Remoting "management-client" read-1] [ERROR] [org.jboss.remoting.remote.connection] JBREM000200: Remote connection failed: java.io.IOException: An existing connection was forcibly closed by the remote host

In server.log, there is no ERROR.

I tried to use the sa

[2014-07-08 07:37] #9 closed, assigned to ingwarsw

[2014-07-09 12:16] PeterProbst opened #10 "Doesn't work with arquillian-persistence-extension"
Hi, this is more a question than an issue. I've tested arquillian-suite-extension. This extension would be a great performance acceleration for our tests. But it doesn't work as expected. We are using arquillian bom 1.1.4.Final, persistence extension 1.0.0.Alpha7, shrinkwrap resolver bom 2.1.1 and wildfly 8.1.0.Final
When using one Testclass with @ArquillianSuiteDeployment and deployment method, t

[2014-07-10 20:31] kshantaramanUFL opened #11 "Issues in using the extension with JUNit Tests"
Hi,

I have a deployment class and two JUnit Test Classes in my code. When I run the project as JUnit tests, the tests are failing with exceptions.

Deployment Class:
@ArquillianSuiteDeployment
public class Deployments {

[code]

}

Test Class:
@RunWith(Arquillian.class)
public class GreeterTest {

[code]

}

Error Obtained:

java.lang.RuntimeException: Could not create new instance of class org.j

[2014-07-15 12:56] #10 closed, assigned to ingwarsw

[2014-07-15 12:57] #6 closed, assigned to nobody

[2014-07-16 20:51] #11 closed, assigned to nobody

[2014-07-16 23:45] huangdihu opened #12 "How to skip deployment for jboss_remote container"
I have 2 containers, one is jboss_managed container, the other is jboss_remote container. For jboss_remote, I will start JBoss and deploy ear manually, and then run Arquillian tests against it, so I want to skip all deployments in @ArquillianSuiteDeployment class when I use jboss_remote container.

I put @TargetsContainer("jboss_managed") before each @Deployment method, but Arquillian still trigge

[2014-07-17 08:57] #12 closed, assigned to nobody

[2014-07-28 10:49] pbosse opened #13 "Undeploy doesn't seem to be working"
Hi, I am currently trying to use the extension but I'm having difficulty.  It doesn`t seem to undeploy it once it has ran the tests. I suspect it`s because of the exception that occurs since after that exception there is no longer any logs from the arquillian-suite-extension, and therefore it cannot catch the deploy messaging.  All the tests runs all the way to the end without a problem.

I have p

[2014-08-22 10:38] emmanueltouzery opened #14 "Could not run @AfterSuite [tiny reproduction project included]"
I have a project where when I don't use the arquillian-suite-extension, things work fine. But when I add it, after a run on a single test class, there is an error in the maven output (see the end of this comment). If I run the test on several classes, then the other tests are broken, even injection doesn't work, I think it's because of that exception already at the end of the first test class.

I

[2014-08-25 18:02] #13 closed, assigned to nobody

[2014-09-18 13:55] perabello opened #15 "Doesn't work with arquillian-persistence-dbunit"
Hello,

I use Persistence and DBUnit extension to set (on arquillian.xml) defaultDataSource, defaultDataSeedStrategy, datatypeFactory, defaultDataSetLocation, etc.
I do not find how to configure it integrated with ArquillianSuiteExtension.
I use @UsingDataSet annotation to bind data before test from xml.
I have a diferent xml for each test class or method.
But when tests can not find values insert

[2014-09-30 16:53] #15 closed, assigned to nobody

[2014-10-24 21:30] rmpestano opened #16 "Nullpointer when using Suite extension with Warp"
Hi there,

any idea why i get null on testClass? see attached image.

Im using Jboss EAP 6.3 in remote and managed modes.

full stack:
![suite extension error](https://cloud.githubusercontent.com/assets/1592273/4776699/c5860242-5bc4-11e4-8cac-ba9c545bcc50.png)

java.lang.RuntimeException: Could not invoke operation
    at org.eu.ingwar.tools.arquillian.extension.suite.ArquillianSuiteExtension$Suit

[2014-12-30 10:42] smiderle opened #18 "Deployments class in a separate project"
Is it possible to implement the deployments class (@ArquillianSuiteDeployment) in a project separate, with all settings deploy and pom.xml, and be reused by other projects, that will implement only tests (@Test), using the deploy done by the first project

[2015-01-12 17:12] #18 closed

[2015-01-13 09:25] rumil commented on #18
From my experience it is not working like that by default. The issue I found is the way Reflections scans for classes annotated with ArquillianSuiteDeployment - it scans only target/classes and target/test-classes but my suite deployment class is inside test jar dependency,thus not being found

[2015-01-13 11:07] ingwarsw commented on #18
Sorry I didnt have tome to look at it..

If you really need It will be probably not so difficult to add that option.

[2015-01-14 08:01] rumil commented on #18
For now I've managed to work around it in a hackish way (I basically have my own ArquillianSuiteExtension which calls Reflections differently).
But long term upstream solution (some configuration option) would be great.

[2015-01-30 09:37] charleech commented on #16
Do we have any update on this issue?

[2015-02-10 01:10] tsschmi opened #19 "Error when using my own snapshot build"
Hello, I have forked the project to try some things out.  I added some code in ArquillianSuiteExtension, built with mvn package from the command line since my Eclipse did not want to build because of some plugin issue.  I am not a maven user so I am not exactly sure what the problem is.  I was able to build the snapshot successfully but I am having troubles getting it to run my project.

We use Iv

[2015-02-10 14:19] tsschmi commented on #19
I traced this down to not having shrinkwrap-resolver-impl-maven-archive in my ivy dependencies.  I had the -depchain artifact, but it must not be the same thing as having -impl-maven and -impl-maven-archive.

[2015-02-10 14:19] #19 closed

[2015-03-05 15:49] vlad-mk opened #21 "Undeploy in jboss and wildfly is not working from gradle."
Hello,

undeploy is not working from gradle.

I've created a small test project:
https://github.com/vlad-mk/arquillian-suite-gradle

With maven everything is OK.
With gradle the event "(E) AfterSuite" and everything after it are missing in logs.
I've tested with jboss  EAP 6.3, wildlfy 8.2, arquillian 1.1.5, 1.1.7 with the same results.

Do you have any idea ?

Thank you !
Vlad

[2015-03-19 14:05] Panchitoboy opened #22 "NPE when using java 8"
Sorry for my bad english:

        <dependency>
            <groupId>org.reflections</groupId>
            <artifactId>reflections</artifactId>
            <version>0.9.8</version>
        </dependency>

This dependency has a problem with Java 8, It gives NPE when you do this:

		private static Class<?> getDeploymentClass() {
				Reflections reflections = new Reflections("");
				Set<Class<?>> res

[2015-03-20 07:52] ingwarsw commented on #22
I dont remember why but i reverted to 0.9.8..

I will look at it..

[2015-03-20 16:33] rnc opened #23 "Multiple Isolated Suites"
Is it possible to have multiple isolated suites? e.g. run one set of tests together and another set together?

Is it possible to run some tests together and the rest in individual deployments?

[2015-03-23 12:48] ingwarsw commented on #23
Regarding first question.
Its possible to have different deployments and run different tests on different deployments.
You just need to name deployments and then use @OperateOnDeployment annotation on test or test class to run it on that deployment.
You can look at my tests.. im using multiple deployments there..

And second one..
I was thinking about that but its quite complicated.
For now you ca

[2015-03-23 12:48] #23 closed

[2015-03-24 10:44] vlad-mk commented on #21
Hello,

do you have any idea, why undeployment in the suite extension works from maven, but nor from gradle?
It looks like a bug.

Here are logs for my simple test project, tested with a remote wildfly server:

Maven:
[code]

Gradle :

[code]

Wildfly log:
[code]

Many thanks
Vlad

[2015-03-24 11:07] vlad-mk commented on #21
Looks like tests are called twice from gradle

maven:
[code]

gradle:
[code]

[2015-03-24 11:32] vlad-mk commented on #21
Hello,

do you have any idea, why undeployment in the suite extension works from maven, but nor from gradle?
It looks like a bug.

Here are logs for my simple test project, tested with a remote wildfly server:

Maven:
[code]

Gradle :

[code]

Wildfly log:
[code]

Many thanks
Vlad

[2015-03-24 12:57] ingwarsw commented on #21
Hello,

I tried to debug it but its not that simple..
Looks like gradle version is not invoking JUnit interceptors at all..
So thats why there is not send undeploy event.

Im trying to find workaround to that issue..:)

[2015-03-30 08:17] ingwarsw commented on #21
I suppose I will not be able to find anything.
Probably you should create ticket for arquillian stating that when using gradle no events are generated after all tests.

[2015-05-14 16:43] johnament commented on #22
My guys just ran into this too.  Turns out, if you just update your project (consumer of arquillian suite) to use reflections 0.9.9 it's all good.

[2015-05-18 13:06] ingwarsw commented on #22
Could you check if now master branch will work for you?

If yes I will release it.

[2015-05-18 13:06] #22 closed

[2015-05-25 21:37] pazoozooCH opened #24 "Better support for multiple deployments"
Hi

This might go a bit into the direction of #23, but I still thought I'd open a new issue.

I'm having integration tests that share a few deployments. However, I would really want to have different base classes to define them. I'm not really getting a few points:
1. Why is the classpath scanned to find the ArquillianSuiteExtension annotated class? This takes a couple of seconds with my setup. Wo

[2015-05-26 12:03] ingwarsw commented on #24
Hello,

Because arquillian is bit awkward and not supports suites, that extension is trying to compensate it as possible. Thats why some things needs to be done in not always best way.

 1. That was done by design, to simplify creating that classes.
But I see no problem at adding system or arquillian property to just find class.

2, 3. In plain arquillian its simple, you have test class and you ar

[2015-05-26 13:46] pazoozooCH commented on #24
Thanks for the feedback. Regarding 1, would be great if you could add a mechanism to avoid the classpath scanning, e.g. specifing the class name in a resource like **META-INF/arquillilan-suite-extension.deploymentClass** or something alike...

Hm, I haven't looked into details of how the suite extension is hooked up with Arquillain. Suppose the following setup (I'm using dummy names, but I'm sure

[2015-05-31 21:58] felipecalmeida commented on #21
It's also not working for EAP 6.4 remote. I'll have a look.

[2015-06-01 11:48] ingwarsw commented on #21
With gradle is not working at any server I suppose.. :(

[2015-06-15 12:45] wpongra opened #27 "Undeploy does not work on Wildfly"
Hi,
I am encountering a problem with the extension suite on wildfly - the connection to the server is lost before undeploy, and therefore the deployment stays on the server.

I created a small example project:
https://github.com/wpongra/ARQ-Ext-Bug-Demo
It assumes a running wildfly with default configuration. Call mvn verify - it will work once, but not twice because the deployment stays on the se

[2015-06-16 09:38] wpongra commented on #27
I found out it works with testng without any problem. This kind of confirms that the problem is the arquillian junit wildfly adapter - it does not execute BeforeStop before killing the wildfly connection.

I saw that there is also a bug with gradle concerning basically the BeforeStop. A wild idea would be not to use the BeforeStop behavior at all - but different events to find out when the last te

[2015-06-18 16:30] wpongra commented on #27
Turns out it is a bug in the suite after all - the following artifact does the same and works
        <dependency>
            <groupId>org.rhq</groupId>
            <artifactId>rhq-arquillian-suite-extension</artifactId>
            <version>4.13.0</version>
        </dependency>

[2015-06-24 16:12] cschuch commented on #27
@wpongra - I'm running into the same issue with jboss 7... did you find any documentation online for the other extension you found? I tried googling around a bit and couldn't find much.

[2015-06-25 07:32] wpongra commented on #27
No, there is not much. There is this page (https://gist.github.com/aslakknutsen/3975179) which has about the same source code and there is some discussion about it.

But on the other hand - it is just one java class, so even looking at the source code is enough. In short it does the same as this extension - the difference is that the class containing the deployment(s) is found by a tag in arquilli

[2015-06-26 16:57] felipecalmeida commented on #27
Try to Overwrite arquillian and shrinkwrap with that (order of import are important):

			<dependency>
				<groupId>org.jboss.shrinkwrap.resolver</groupId>
				<artifactId>shrinkwrap-resolver-bom</artifactId>
				<version>2.1.1</version>
				<scope>import</scope>
				<type>pom</type>
			</dependency>
			<dependency>
				<groupId>org.jboss.arquillian</groupId>
				<artifactId>arquillian-bom</artifa

[2015-06-30 14:35] johnedo1234 opened #28 "Doesn't work for managed Wildfly container (?)"
I'm having trouble getting the suite extension working with a managed Wildfly container. The first test class in the suite executes properly, but all subsequent test classes fail.

Here's what seems to be going on:
1. Start container
2. Deploy test.war (in memory only; not found in standalone/deployments)
3. Run test class 1
4. Stop container (test.war disappears from memory)
5. Start container
6.

[2015-07-09 06:47] hoeppy commented on #27
@felipecalmeida Sorry I have tested this with following config
Gradle 2.2.1
junit:junit:4.12
org.jboss.shrinkwrap.resolver:shrinkwrap-resolver-bom:2.1.1
org.jboss.arquillian:arquillian-bom:1.1.8.Final
org.jboss.arquillian.junit:arquillian-junit-container:1.1.8.Final
org.wildfly:wildfly-spec-api:8.2.0.Final
org.jboss.arquillian.protocol:arquillian-protocol-servlet:1.1.8.Final
org.jboss.arquillian.e

[2015-07-09 08:07] wpongra commented on #27
@hoeppy
I did not test the config of @felipecalmeida - but you might face a separate issue which  has to do with gradle: https://github.com/ingwarsw/arquillian-suite-extension/issues/21

[2015-07-09 21:11] vlad-mk commented on #21
I think this is the gradle problem.
Unlike maven surefire plugin gradle doesn't send a finish event to JUnit.

[2015-07-09 21:11] #21 closed

[2015-08-05 18:07] Raneves opened #29 "Error java.lang.NoSuchMethodError: org.jboss.arquillian.test.spi.TestResult.setEnd(J)"
I get the follow error when I try run my test:
`java.lang.NoSuchMethodError: org.jboss.arquillian.test.spi.TestResult.setEnd(J)`

My class base are:
[code]
my pom is:
[code]

[2015-08-05 18:20] Raneves commented on #29
The test passed, but not have the method result.setEnd(System.currentTimeMillis());

[2015-08-05 18:24] Raneves commented on #29
this method reside in: org.jboss.arquillian.container.test.impl.execution.LocalTestExecuter

A Handler for executing the Test Method.

public void execute(@Observes LocalExecutionEvent event)

[2015-10-01 11:41] mikemaaaa commented on #27
i had the same issue. After doing a deep analysis of the issue i found out that maven-surefire plugin is responsible for this.

We use WildFly 8.2.1 - and only have maven-surefire-plugin 2.18.1 as resolved dependency. When i use this setup i always get the "remote connection failed" error before undeploying the artifact.

I manually added a dependency to the maven-surefire-plugin 2.12.4 - this sol

[2015-10-20 15:50] pike1212 opened #30 "Issues with Java 8 lambdas"
When I have the arquillian-suite-extension as a maven dependency (even if not using it), I get errors when my code contains java 8 lambdas

http://stackoverflow.com/questions/33240952/arquillian-test-wont-run-when-code-has-java-8-lambda-expression

[2015-10-22 13:07] pike1212 commented on #30
Same issue as this https://github.com/ingwarsw/arquillian-suite-extension/issues/22

[2015-10-22 13:07] #30 closed

[2015-10-30 13:48] CSchulz commented on #16
Deployment worked fine with your snapshot, but it seems that there is something else wrong now:

java.lang.IllegalStateException: Error launching test at http://127.0.0.1:9080/2ef1f145-3640-4a57-ab35-545147247b72/CommandEventBus?className=AdjustUiTest&methodName=openAdjustAndCancel&operationMode=PUT. Got 405 (Method Not Allowed)

Perhaps some compatibiity issues with arquillian(-warp) itself?

[2016-04-06 13:27] Steve973 commented on #14
@ingwarsw I ran into this issue today with Karaf, and it appears to have changed to a different area with the @OverProtocol annotation.  I am not entirely sure if it is relevant to these issues (forgive me if it is not, please) but why does the suite deployment extension require wars or ears?  Is, or will there be, an option for regular bundles/jars?

[2016-04-07 17:19] ingwarsw commented on #14
@Steve973 Mayby I dont understand trully, but as far as i know war or ear is needed to run code on application server..

[2016-04-19 09:32] Steve973 commented on #14
@ingwarsw It depends on what kind of application server we are talking about, or at least what kind of container we are dealing with.  Arquillian provides the ability to run tests in a variety of containers, as you know, and the container that I am using is Karaf.  If you are not familiar with Karaf, it is a platform that runs the equinox or felix (both are OSGi spec implementations) framework as

[2016-04-19 09:57] ingwarsw commented on #14
Could you open new issue with suggestion and some kind of project on with I could reproduce your behavior?
Than I could try looking at it..

By the way new Arquillian should not support suites by it self?

[2016-04-19 10:17] Steve973 commented on #14
Do you mean 1.1.11?  I didn't see anything about test suites in that
version.

On Tue, Apr 19, 2016 at 5:57 AM, Karol Lassak <notifications@github.com>
wrote:

[2016-04-19 10:31] ingwarsw commented on #14
Here is discussion: http://discuss.arquillian.org/t/arquillian-core-suite-subsuite-how-to-define-the-suite/163/28

I was almost sure its already done.. but as far as i see its not.. but work is in progress..
https://github.com/aslakknutsen/arquillian-core/tree/arq_suite

[2016-04-24 16:29] votingsystem opened #34 "Improve readme.md"
It wold be great a hint on readme.md telling that you must add test classes to the deployment. It can save some time to a newcomer.

[2016-04-28 12:57] pesche666 opened #35 "Migration of large test suite"
Hi

I try to migrate a larger test suite of 300 Arquillian Test Classes (each with their own micro deployment)   to migrate to suite extension approach, with much fewer deployments. I would like migrate this incrementally, class by class. However the migration path you suggest would be quite awkward for me since you need to move all three hundred deployments to one class and annotate each test met

[2016-04-28 13:57] ingwarsw commented on #35
I was thinking about that kind of solution but I couldn't make it possible without huge effort.

Guys from arquillian are working on supporting that out of the box but..

Here is discussion: http://discuss.arquillian.org/t/arquillian-core-suite-subsuite-how-to-define-the-suite/163/28

Work is in progress..
https://github.com/aslakknutsen/arquillian-core/tree/arq_suite

[2016-04-28 13:57] #35 closed

[2016-04-28 14:07] hoeppy commented on #35
Maybe you can use the EmbeddedGradleImporter (if you build with gradle) or MavenResolver to create a Deployment of your whole application. Then you dont have to merge all micro diployments.
Than comment the deployment method of each test.
Most of the test should run and then you only have to look at failed one.
That save some time for me

[2016-05-11 15:31] pesche666 opened #36 "Deployments are created even if not used"
Hi

I am just working on a  small test project with suite-extension. I have a Suite class with three @Deployment methods defined.

If running a single @Test method (or class) from the IDE I noticed that arquillian is really only running that single test but three archives are created nonetheless. If you have several deployments that are large this could be a huge loss of time during daily developm

[2016-05-16 08:58] ingwarsw commented on #36
As far as I remember there is no easy way of doing that..

You could try disabling some deployments in runtime..
Mayby that would help..

[2016-05-16 08:58] #36 closed

[2016-06-22 15:21] antarus opened #37 "don't work in test-jar"
Hello ,
annotation ArquillianSuiteDeployement not working as it is used in a test jar .

Regards,

[2016-06-25 10:13] ingwarsw commented on #37
Could you describe what exacly is not working and in what configuration?

Cause Im not sure what you mean by test.jar?

[2017-01-03 16:41] artorius82 opened #39 "not working on wildfly 10"
Because of dom4j dependency in compile scope.
The reflections jar brings dom4j as  a transitiv dependency into the project.
Please change the scope of dom4j to test/provided or just make it an optional dependency.

[2017-01-20 10:16] leccyril commented on #6
i have same problem with new jacoco version full pom.xml:
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.real</groupId>
	<artifactId>RflowHR</artifactId>
	<version>0.1-SNAPSHOT</version>

	<

[2017-04-07 14:42] reitzmichnicht opened #40 "Not working with arquillian-core 1.1.13.Final"
Suite Extension tries to access ManagerImpl.DEBUG which seems to be removed in the new core version.
Would be great to have an update for this great extension to be able to use the new Arquillian Universe dependencies.

[2017-04-07 21:39] ingwarsw commented on #39
Could you check if branch feature/new_arquillian is working for you?

[2017-04-07 21:40] ingwarsw commented on #40
Could you check if branch feature/new_arquillian is working for you?
If yes I will release it..

[2017-04-07 21:43] #37 closed

[2017-04-10 10:04] charleech commented on #40
I've tested against the `feature/new_arquillian`, it works properly.

[2017-04-10 10:47] #40 closed

[2017-04-10 11:10] reitzmichnicht commented on #40
Thank you very much for the fast fix. Is a release of this branch planned in the near future?

[2017-04-10 11:11] ingwarsw commented on #40
Working on it right now..

[2017-04-11 19:28] ingwarsw commented on #39
Released as v1.1.4.. Check if will work for you..

[2017-04-11 19:28] #39 closed

[2017-04-11 19:30] ingwarsw commented on #28
Check with wildfly 10 if possible..
Should work..

[2017-04-11 19:30] #28 closed

[2017-04-11 19:31] #27 closed

[2017-04-12 13:56] ingwarsw commented on #40
Could you try version 1.1.4?

[2017-04-12 19:41] reitzmichnicht commented on #40
Yes works great again. Thank you very much.
Any chance to get this extension into the arquillian universe bom?

[2017-04-13 21:25] ingwarsw commented on #40
Your welcome :)

Dont think so...
Arquillian guys are working hard to make suites in arquillian itself..
AFAIK version 2.0 should have them..

[2017-07-24 18:59] wviana opened #42 "Congratulations and Wildfly 10 compatibility"
First of all, thank you very much.

We reduced from 16 minutes to 5 minutes for running our integration tests.

Our project uses wildfly 10 and worked just as it is supposed to.
So you may update the readme saying about wildfly 10 compatibility.

[2017-07-25 06:37] ingwarsw commented on #42
Thanks for info.. 👍 Will add to readme..

[2017-07-25 06:37] #42 closed

[2017-10-26 22:43] rwalkerands opened #43 "Not finding ArquillianSuiteDeployment-annotated class when using Tomcat/TestNG"
Hi. I'm using a managed Tomcat 7 container and TestNG tests.

Sorry, I can't easily tell whether it's Tomcat, TestNG, or the combination of these that's causing my problem. (I note that others (#27) have reported that the Suite works with TestNG, but with Wildfly as the container.)

 The `ArquillianSuiteExtension.getDeploymentClass()` method doesn't find my `@ArquillianSuiteDeployment`-annotated d

[2017-10-27 21:55] ingwarsw commented on #43
Could you try using one from branch feature/configure_by_xml.

Then confugure extension thru arquillian.xml like that:

    <extension qualifier="suite">
        <property name="deploymentClass">org.eu.ingwar.tools.arquillian.extension.suite.Deployments</property>
    </extension>

[2017-10-29 22:30] rwalkerands commented on #43
Wow, that was fast.

I can confirm that this works perfectly for my setup.

[2017-10-30 09:09] ingwarsw commented on #43
Ok so I will try to add readme paragraph about that and release new version..

[2017-11-01 15:38] famod opened #44 "A more flexible approach supporting different reusable and non-reusable deployments"
In my current project I cannot use this extension because in a large test module different deployment (scenarios) need to supported and may not be forced into one "deployment suite".

I came up with a custom extension implementation which seems to work as expected on WildFly 11:
https://gist.github.com/famod/a423cadbe976401e02002b9103d1d2d5

Seeing all the infrastructure that has been set up for t

[2018-01-16 19:43] awilhelmer opened #45 "Exception (guava) when adding suite-extension on Wildfly 10"
Hello,

i've got problems to get this extension to work. I have an EAR package based on this example https://github.com/wildfly/quickstart/tree/10.x/kitchensink-ear . I already have working test cases, but when I only add your dependency
[code]
i get this exception when running a test:

[code]

[2018-01-18 09:28] hoeppy commented on #45
Hello awilhelmer,
The extension expected a class annotated with @ArquillianSuiteDeployment.
In this class should be a method annotated with @Deployment
And SuiteExtension expeced only one such class in class path.

I hope that will help. Please Read doku first:
https://github.com/ingwarsw/arquillian-suite-extension

best regards Robert

[2018-01-18 17:38] awilhelmer commented on #45
Hello hoeppy,

it doesn't change anything. I already read the doku:

I've got a basic deployment class with only one EAR deployment, file based from local maven repo, the Test class is extending from it. Adding the annotation on the Deployment class doesn't change anything, the exception appears. Without the dependency everything works as expected.

[2018-01-18 20:46] famod commented on #45
I ran into the same problem with JBoss EAP 6.4 (an early commercial version of Wildfly).
The problem is that you typically import one or more BOM (bill of material) dependencies in your Maven pom.xml to bring in all the relevant libraries that JBoss EAP/ Wildfly provides so that you can compile your code with that classpath.
These BOMs bring in an older version of guava (com.google.common.*) which

[2018-01-19 19:24] awilhelmer commented on #45
Hello @famod ,

this seems to be working but now i've got problems to run all test classes. I have this construct:

[code]

[code]

[code]

when i run `mvn  test -Parq-wildfly-remote` only EjbTest class is executed. The EjbTest2 is ignored. What is wrong? :(

[2018-01-21 20:37] famod commented on #45
@awilhelmer I never tested my implementation with the remote container adapter, only the "managed" one.
But basically it should work with the remote one as well.
I'll try and have a look later next week.

[2018-02-04 17:26] awilhelmer commented on #45
@famod Thanks for your info.
After some tests i'am able to run both tests. My problem was, dthat surefire or Junit scans only for files with the pattern *Test, Test* class files.

But it seems that your simple extension doesn't work for remote tests:

[code]

It seems that surefire runs a VM for each test? I tried to make the attributes `activeReusableDeploymentClass` and `generatedReusableDeploym

[2018-02-04 19:37] famod commented on #45
@awilhelmer First off: Sorry, didn't have the time to look at the problem.

Well, with default settings Surefire should _not_ run each test in a separate JVM. See: http://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html

Can you add `-Darquillian.debug=true` (see http://lukas.fryc.eu/blog/2013/06/debugging-arquillian.html) and post the output here?

[2018-02-06 20:43] awilhelmer commented on #45
@famod Thanks four your help.
Here the output:
https://gist.github.com/awilhelmer/56ad3ec8a0d73aebb5560dc79cc8d07c

[code]
This is the output from the deployment method `getApplicationEar()`, so its called twice...

I rerun the test with System outs on your loggings (windows doesnt pipe evertyhing in git bash ...)
[code]

[2018-02-26 13:38] reitzmichnicht opened #46 "Arquillian universe 1.2 compatibility"
Arquillian-suite-extension has now some upper bounds problems with the actual shrinkwrap version 3.1.3
I had to add the following two overrides:
[code]

Would be cool to have a new version with updated dependencies.

[2018-02-26 17:57] GararJamal opened #47 "the archive test is not get undeployed"
I am using arquilian suite extension version1.1.2 and org.jboss.arquillian arquillian-bom 1.1.2.Final.
the archive is deployed only once before the tests, it's OK  but  it seems like  the undploy does not run so the build ends but the managed container is not stopped neither the test.war undeployed .

I followed the steps as recommended:

-Move all deployments to one class and make all your tests

[2018-02-26 21:58] famod commented on #45
@awilhelmer
Hm, it really seems your Surefire *is* configured to run multiple tests concurrently, judging by the following output from your gist:
[code]
Can you post an output with `mvn -X ...`?

Which version of Arquillian are you using?

[2018-02-27 16:25] GararJamal commented on #47
I solved my problem, in fact I was using the failsafe plugin version 2.18.1, going to verison 2.19.1 solved the problem

[2018-02-27 16:25] #47 closed

[2018-03-14 10:29] ingwarsw commented on #46
Hello..
Just updated arquillian bom to new one and it still have older version than needed by you.
I dont want to force new version at plugin level (I want to keep compatibility with arquillian version Im using).

[2018-03-14 10:29] #46 closed

[2018-03-14 10:37] #34 closed

[2018-03-14 12:59] ingwarsw commented on #43
@rwalkerands Just released new version `1.2.0` with contains that changes..
Could you check if it will work for you?

[2018-03-14 12:59] #43 closed

[2018-06-07 15:17] joaoneves opened #50 "Using with Swarm provokes multiple deployments"
Howdy,

when I tried to use swarm, I got some error. Here is the relevant piece of the stacktrace:

`Caused by: java.lang.IllegalArgumentException: Can not add multiple org.jboss.shrinkwrap.api.Archive deployments with the same name: _DEFAULT_`

There is any workaround to deal with it? It could be fixed? Thanks in advance.

[2018-06-10 20:10] ingwarsw commented on #50
Could you create some sample project showing your error?
That would help a lot..

[2018-06-21 21:36] joaoneves commented on #50
Hello, thanks for the feedback. I´ve tested using the Payara container, and it worked as expected, using only one deployment. I´ll provide a sample project using Swarm so we can continue investigating this issue.

[2018-06-22 15:22] joaoneves commented on #50
[swarm.zip](https://github.com/ingwarsw/arquillian-suite-extension/files/2128163/swarm.zip)

Here is a sample maven project which you can reproduce the error. Sorry for taking too much time.

[2018-07-04 17:55] joaoneves commented on #50
Ping! Do you need some help, so we can evolve on this issue?

[2018-07-16 19:20] mark1900 opened #51 "Dependency on org.reflections:reflections:0.9.11 causes exception "could not scan file arquillian.xml""
Documenting an issue I had with a downstream dependency - https://github.com/ronmamo/reflections/issues/235

----

I get the following exception when combining

- Eclipse Photon (4.8.0)
- Wildfly 11
- org.eu.ingwar.tools:arquillian-suite-extension:1.1.4 (which depends on org.reflections:reflections:0.9.11)
- org.jboss.arquillian:arquillian-bom:1.1.13.Final

[code]

My current workaround

[code]

[2018-08-01 07:11] eichstaedtk opened #52 "Arquillian Tests starting before container is deployed"
Hi There, i have an issue with your suite an the maven release plugin. During the perform phase all JPA Integration Test fail because it seems that the test are starting before the container is ready:

[INFO] [INFO] --- maven-failsafe-plugin:2.21.0:integration-test (integration-tests) @ einbandnachweis ---
[INFO] [INFO]
[INFO] [INFO] -------------------------------------------------------
[INFO] [

[2018-08-10 05:37] kullmanp commented on #51
This workaround does not work for me.

[2018-08-13 22:30] mark1900 opened #53 "Cannot upgrade to arquillian-suite-extension 1.2.0 from 1.1.4"
I get a NullPointerException on `utx.begin();` in the following JUnit test code.

[code]

I have tried to utilize dependencies similar to the release -[arquillian-suite-extension/compare/v1.1.4...v1.2.0]( https://github.com/ingwarsw/arquillian-suite-extension/compare/v1.1.4...v1.2.0)

* Eclipse Photon (4.8.0)
* Wildfly 13 (The same issue occurs on Wildfly 11)
* org.eu.ingwar.tools:arquillian-suite

[2018-08-14 18:37] mark1900 commented on #51
@kullmanp Do you still still see this exception - `IOException: bad magic number` ?

FYI, I was able to upgrade to org.eu.ingwar.tools:arquillian-suite-extension:1.2.0 using the same workaround of setting the org.reflections:reflections:0.9.11 dependency.

**My current configuration**

* Eclipse Photon (4.8.0)
* Wildfly 13
* org.eu.ingwar.tools:arquillian-suite-extension:1.2.0 (which depends on or

[2018-08-16 13:46] kullmanp commented on #51
@mark1900 yes, I still see it when I'm enabling debug logging.

[2018-12-17 12:16] janmaterne commented on #11
I had the same problem and solved it by adding explicitely the dependency on an actual version of reflections:
[code]
Thanks for the extension ...

[2019-02-13 15:12] MrK191 commented on #52
I can confirm that I have similar issue, test is starting before annotation is detected. After that tests are the ones that are in control of deployment so they are starting the container for every class.

[2019-03-25 09:32] Adrodoc commented on #21
Caused by gradle/gradle#842

[2019-03-26 18:25] sbabcoc commented on #21
@Adrodoc Check out my comment on the issue you linked to. I mention a JUnit 4 library that provides a potential solution: https://discuss.gradle.org/t/how-to-attach-a-runlistener-to-your-junit-4-tests-in-gradle/30788

[2019-03-26 19:16] Adrodoc commented on #21
@sbabcoc @ingwarsw is there a suitable implementation of `org.junit.runner.notification.RunListener` in arquillian or would we have to implement one?

[2019-03-26 19:22] ingwarsw commented on #21
@Adrodoc there is no such listener.. but I assume it would be easy to create one..

[2019-04-26 06:29] nosaku commented on #45
I am also getting the Guava error. Any ideas on how to resolve this?

`java.lang.RuntimeException: Could not create new instance of class org.jboss.arquillian.test.impl.EventTestRunnerAdaptor
	at org.jboss.arquillian.test.spi.SecurityActions.newInstance(SecurityActions.java:146)
	at org.jboss.arquillian.test.spi.SecurityActions.newInstance(SecurityActions.java:89)
	at org.jboss.arquillian.test.spi

[2019-09-01 18:54] mark1900 commented on #51
@kullmanp Just a quick update.  I am able to run this successfully against the latest Wildfly 17.0.1.Final release with the following properties.

**Test Project pom.xml**
[code]

**Parent project pom.xml**
[code]

[2019-09-04 05:51] rwalkerands commented on #43
Just updated my setup to this combination:
- Arquillian Core 1.1.15
- Arquillian Suite Extension 1.2.0
- TestNG 6.14.3

This combination does indeed work for me.

[2019-10-25 12:29] hneubauer opened #54 "Using surefire or failsafe causes multiple deployments"
Using maven-surefire or maven-failsafe (2.22+) means that this extension no longer works correctly. Instead of a single deployment, another one is made for each test. As long as you don't have to use these two plugins, all is ok. It seems the problem exists since version 2.22 of the plugins (introducing junit 5)

[2019-12-19 11:03] phamngoctan opened #55 "Even specify @ArquillianSuiteDeployment, the arquillian still removes old war deployment and install the new one"
Hello all,

Just a comment about this issue, it took me one day to figure it out. Maybe it would help someone who had the same issue.
The issue is that: I accidentally set the maven pom.xml like this:
`<plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-failsafe-plugin</artifactId>
        <version>2.19.1</version>
        <configuration>
          <forkMode>alwa

[2019-12-19 11:03] #55 closed

[2020-05-04 12:40] MartinHlavna commented on #54
I am also experiencing this bug. Any workarounds?

[2020-05-04 14:16] hneubauer commented on #54
I'm using failsafe 2.19.1 now for integration tests. The version of failsafe must be not higher, because since 2.22 failsafe uses junit5 and running arquillian tests with failsafe and the vintange engine (because Arquillian doesn't support  junit5) results in multiple deployments. With 2.19.1 you have only one deployment.

Für junit 5 tests I'm using surefire 2.22.2.

Both together with different

[2020-05-08 14:09] commodis opened #56 "Ability to disable extension?"
While the extension is useful to run all tests in batch,
sometimes it is smart to only run a single test for example in development.

Is there some option to disable the extension?

Currently we are commenting out the `@ArquillianSuiteDeployment` annotation which is very error prone.

[2020-05-10 20:37] ingwarsw commented on #56
Hello @commodis.

But if you want to run 1 test it should not be a problem to run just it..
You will have to deploy your "deployment" either for 1 test or for batch.. (and it should be same deployment)

If for whatever reason its not the case you can try using setting suite via arquilian.xml file and somehow generate it dynamically based on properties/params.

See documentation here..
https://gith

[2020-05-11 11:20] commodis commented on #56
Thanks!

with a clean setup I could run a single tests without a problem.
I think the behavior change somewhere along.

Closing this issue and sorry for the inconvenience

[2020-05-11 11:20] #56 closed

[2020-05-11 19:24] hneubauer commented on #54
I haven't tried that.
But I assume that there are always multiple deployments when the Arquillian extension suite runs with JUnit5 in the vintage engine. So it's important to do the Arquillian tests with surefire or failsafe in a version that does not yet work with JUnit5.

If you still want to have additional JUnit5 tests, you have the option to do the integration tests and the JUnit tests with d

[2020-06-30 13:44] Chewbizz opened #59 "Annotated deployment class from Eclipse with Buildship"
Greetings,

We use Eclipse and gradle to build our projects, and with recent versions of Eclipse Buildship + gradle, we now have the ability to have separate output folders for main classes and test classes.
For instance, main classes are built in "/project-root/bin/default" whereas test classes are built in "/project-root/bin/test". This separation allows for a lot of interesting features.
Howeve

[2020-06-30 14:11] Chewbizz commented on #59
Proposed patch #60

[2020-07-02 07:34] ingwarsw commented on #59
Closed by #60

[2020-07-02 07:34] #59 closed

[2020-07-02 15:15] Chewbizz commented on #59
I could verify that 1.2.1 (with arquillian.xml modified to use "fullClasspathScan") works like a charm.
Thanks @ingwarsw for your help and reactivity!

[2020-11-23 23:30] lprimak commented on #54
I am seeing the same (incorrect) behavior and multiple deployments.  Using JUnit 5 and latest surefire plugin,
using Arquillian 1.7.0-Alpha5 which supports JUnit 5.
Any workarounds? This extension is useless without it.

[2020-11-23 23:31] lprimak opened #62 "Upgrade dependencies"
Most of the dependencies are really old,
such as commons-lang (needs commons-lang3), Arquillian, etc.

Please update them

[2020-11-23 23:41] ingwarsw commented on #54
@lprimak Could you prepare minimal test project so I could try reproducing issue?

[2020-11-24 00:50] lprimak commented on #54
@ingwarsw I don't think there is such a thing as "minimal" with Arquillian but I will try as self-contained as possible :)

[2020-11-24 19:11] lprimak commented on #54
@ingwarsw I am working on a very minimal reproducer, pretty much done with it, I think it's very simple and demonstrates the point, however, it requires Payara and I am going to have to do test containers and docker to make this as simple as possible. Stay tuned, should have something in a few hours

[2020-11-25 03:55] lprimak commented on #54
@ingwarsw I have created a self-contained test application.
- Clone https://github.com/flowlogix/test-arq-suite
- run it (docker on localhost: `mvn test`
- run it (docker on non-localhost): `mvn -Dpayara.adminHost=$(docker-machine ip) test`

The test fails because it catches two deployments, where there should be only one.
If/when the suite runs correctly, all tests should pass.

[2020-11-27 20:22] lprimak commented on #54
@ingwarsw have you had a chance to look at above reproducer? Does it work for you? Do you need help with it?
I am anxious to see whether I can get the suite extension to work properly :)
thank you!

[2020-11-29 00:03] ingwarsw commented on #54
@lprimak After few hours of debugging jupiter seems its not that easy..

Each class follows full install/uninstall extension rule..

So if you will have 100k tests in one class suite extension will work..
But for each class there will be new deploy..

Im still trying to find any way to hack into jupiter system to know that all classes finished..
If I will be able to do that maybe I will be able to

[2020-11-29 01:05] lprimak commented on #54
@ingwarsw thanks for looking at it, and glad the reproducer works for you.
Just one note, as there would not be 4 deployments in this test.
Arquillian, by default, is set up with one deployment per class, not per test.
If you remove the `@ArquillianSuiteDeployment` you still see 2 deployments.

Also, if there needs to be a PR to Arquillian, they are pretty responsive as well.

[2020-11-30 15:33] ingwarsw commented on #54
@lprimak Im almost there..

I just need PR for arquillian.. (And Im wondering how many things I will broke)

[2020-11-30 15:35] lprimak commented on #54
@ingwarsw thank you!

[2020-11-30 15:36] lprimak commented on #54
Can you post the PR when you submit it so I can try it please?

[2020-11-30 18:24] lprimak commented on #54
@ingwarsw Can you back-port this to Java 8? It fails the Arquillian CI testing

[2020-11-30 18:35] lprimak commented on #54
Hmm, it fails with this in JDK 8 but not JDK 11:
[code]

[2020-11-30 20:27] ingwarsw commented on #54
But i didnt change anything there.. seems like network issue..

[2020-11-30 22:42] lprimak commented on #54
Well, never mind, I see you fixed it!!!

[2020-11-30 23:48] lprimak commented on #54
Tested for both JUnit 5 and 4, and works correctly!

[2020-11-30 23:48] lprimak commented on #54
Please close this issue

[2020-12-01 09:38] ingwarsw commented on #54
It took a bit but now it should work with junit5 (with new versions of arquillian only)

[2020-12-01 09:38] #54 closed

[2020-12-01 09:42] #62 closed

[2020-12-19 20:23] lprimak opened #69 "Using JUnit 4 Jupiter Vintage engine prevents suite extension from working"
Currently, both JUnit 5 and 4 with suite extension works great!
However, when I try to combine both types of tests using JUnit4 vintage engine, the suite stops working correctly,
yielding multiple deployments where should only be one.

Reproducer: https://github.com/flowlogix/test-arq-suite/tree/JUnit4-Vintage
Logs:

[code]

[2020-12-19 20:37] lprimak commented on #69
Hmmm... test containers listener doesn't work either, perhaps there is a deeper issue here...

[2020-12-19 20:58] lprimak commented on #69
Other problems prevent stuff like this from running at all, so no need to worry about this I think
JUnit 4 listeners don't work preventing test containers and other integrations running with the vintage engine at all

[2020-12-19 20:58] #69 closed, assigned to nobody

[2021-04-06 12:09] MartinHlavna commented on #54
Hello,

I have migrated project to use latest arquillian and junit 5 yet the problem still persists...

@lprimak  can you please share the versions of dependencies you are using?

[2021-04-06 16:51] lprimak commented on #54
- Latest Arauillian (1.7.0-Alpha9)
- Latest surefire / failsafe (3.0.0-M5)
- Latest JUnit 5

[2021-04-19 16:18] ankit--sethi opened #70 "Not playing nicely with IntelliJ?"
Honestly, this may turn out to be an issue with IntelliJ rather than this extension but just wanted to share:

My team recently began using this extension and had no problems with it. But when I tried it out personally, it didn't work. I consistently got `java.net.BindException: Address already in use` at some point when doing `mvn clean install`. To clarify: this is on a multi-module maven projec

[2021-05-08 07:34] charleech opened #71 "Using with JUnit 5 @RunWith(JUnitPlatform.class) causes multiple deployment."
#### Using with **JUnit 5** `@RunWith(JUnitPlatform.class)` causes multiple deployment.

Since the **JUnit5** does not have the `Test Suite` and provide the interim solution by the `JUnitPlatform` which requires the `junit:junit:4.13.2` in the classpath.

* [Using JUnit 4 to run the JUnit Platform](https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner)
* [Using JUni

[2021-05-09 17:43] ingwarsw commented on #71
@charleech Plugin works with juint5 (just need few beta dependencies).
Here you have fully working solution https://github.com/ingwarsw/arquillian-suite-extension/tree/master/test-suites/junit5

Im not sure how suites works in junit5.. but seems arquillian and plugin dont use them..

[2021-05-10 00:40] charleech commented on #71
Hi @ingwarsw, I've followed this repository example at https://github.com/ingwarsw/arquillian-suite-extension/tree/master/test-suites/junit5 and implemented as https://github.com/charleech/arquillian-junit5-payara/tree/main/my-cdi-junit5-multiple-tester as the following example: -

[code]

Everything works like a charm and is able to confirm that our `arquillian-suite-extension` works perfectly wi

[2021-05-10 00:40] charleech commented on #71
Anyhow when I've tried to use the workaround test suite as mentioned at the formal `JUnit5` document as the following: -

* https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner
* https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner-test-suite
* https://stackoverflow.com/questions/50565724/are-test-suites-considered-deprecated-in-jun

[2021-05-10 00:43] charleech commented on #71
I'm not sure if it is possible to enhance the `arquillian-suite-extension` so that it may support the `JUnit5` _test suite_ or not.

Could you please help to consider and advise?

[2021-05-10 02:04] charleech commented on #71
I've just found that the **JUnit 5** version `5.8.0-M1` and `org.junit.platform:junit-platform-suite:1.0.8-M1` introduces `@Suite` natively (_without any dependency to JUnit 4 anymore_) as the following :-

* https://junit.org/junit5/docs/snapshot/user-guide/#junit-platform-suite-engine
* https://github.com/junit-team/junit5/pull/2416

Then the pure **JUnit 5** _test suite_ will be look like the f

[2021-06-02 08:13] MartinHlavna commented on #54
FYI I have found my problem. For future reference:

Our project structure consists of one "core" project of our product platform. This core projects also contains some Test classes where the tests are prepared (no ```@Test``` annotations in these classes). This is the project where ```@Deployment``` method is. All test classes inherits from this class.

The implementation project also enables any

[2021-06-02 13:10] lprimak commented on #54
Have you tried https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#dependenciesToScan
@MartinHlavna ?

[2021-06-02 13:14] MartinHlavna commented on #54
@lprimak no... that would probably work too.

[2021-11-06 20:27] zygimantus commented on #16
I am getting same nullpoineter when using warp and having ArquillianSuiteDeployment annotation present. Is this issue fixed?

[2021-11-22 13:50] 0k00l opened #72 "org.reflections.ReflectionsException: could not create class"
Cannot use in **Netbeans** @ArquillianSuiteDeployment because of followed issue
[code]

I've tired to set property in arquillian.xml <property name="fullClasspathScan">false</property> but it didn't helped (i don't know if i understand this property properly)

[2021-11-22 13:51] 0k00l commented on #72
BTW. same issue occurs in shell (of course code has been written in neatbenas)